body {
    margin: 0;

    background-position: 0px 0px,
    16px 16px;
    background-size: 32px 32px;
    background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
    linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}

#root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    width: 100%;
    height: 100%;
}

#loading {
    position: absolute;
    z-index: -1;
    font-family: 'Segoe UI', Roboto, Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: gray;
}


section
{
    position: relative;
    width: 100%;
    height:100vh;
    overflow: hidden;
}
section img
{
    width: 100%;
}


/*  */

.iframeContainer{
    z-index: 1000;
    position:absolute;
    width: 100%;
    height:fit-content;
    overflow:hidden;
    border: none;
    /* margin-top: -50%; */

}

.iframeContent{
    margin:5% 15%;
    position: relative;
    top:0%;
    left:0%;
    width:70%;
    height:37.5rem;
    border-radius: 2%;
    border-style:groove;
    border-color:black;
}

.credit
{
    z-index: 2000;
    position:absolute;
    bottom:2%;
    left:45%;
    /* we could also use
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    */
    text-align: center; /* centers everything that
    doesn't have a width specified */
    font-family: 'Space Grotesk', sans-serif;
    color:#40514E;
    font-size: 0.8rem;
    /* background-color: white; */
    overflow:hidden;
}

a
{
    color:#39A9CB;
    font-family: 'Space Grotesk', sans-serif;
}



@media (max-width:600px){
    .iframeContainer{
        
        
        width: 100%;
        height:fit-content;
        overflow:hidden;
        border: none;
        /* margin-top: -50%; */
    
    }
    .iframeContent{
        border-radius: 4%;
        margin:50% 5%;
        position: relative;
        top:0%;
        left:0%;
        width:90%;
        height:15rem;
    }
    .credit
    {
        z-index: 2000;
        position:absolute;
        bottom:4%;
        left:35%;
        text-align: center;
    }

}


